version: '3.7'
services:
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper

  producer:
    build:
      context: .
      dockerfile: Dockerfile-producer
    container_name: producer
    depends_on:
      - kafka
    volumes:
      - .:/app

  consumer:
    build:
      context: .
      dockerfile: Dockerfile-consumer
    container_name: consumer
    depends_on:
      - kafka

  mysql:
    image: mysql:5.7
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: kafka_data
    ports:
      - "3307:3306"   # Map host port 3307 to container port 3306
    volumes:
      - mysql_data:/var/lib/mysql # ✅ Persistent volume for MySQL data

volumes:
  mysql_data: # ✅ Define the persistent volume


# version: '3.7'
# services:
#   zookeeper:
#     image: confluentinc/cp-zookeeper:latest
#     container_name: zookeeper
#     environment:
#       ZOOKEEPER_CLIENT_PORT: 2181
#       ZOOKEEPER_TICK_TIME: 2000
#     ports:
#       - "2181:2181"

#   kafka:
#     image: confluentinc/cp-kafka:latest
#     container_name: kafka
#     ports:
#       - "9092:9092"
#     environment:
#       KAFKA_BROKER_ID: 1
#       KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
#       KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
#       KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
#     depends_on:
#       - zookeeper

#   producer:
#     build:
#       context: .
#       dockerfile: Dockerfile-producer
#     container_name: producer
#     depends_on:
#       - kafka
#     volumes:
#       - .:/app

#   consumer:
#     build:
#       context: .
#       dockerfile: Dockerfile-consumer
#     container_name: consumer
#     depends_on:
#       - kafka